
/* Fonts */

body{
	font-family: 'LeagueSpartan', sans-serif;
	font-size: .9375rem;
	font-size: 1rem;
	color: #262626;
}

.wp-die-message, p{
	font-size: 15px;
}

.wrap .add-new-h2, .wrap .add-new-h2:active, 
.wrap .page-title-action, 
.wrap .page-title-action:active{
	font-size: .9375rem;
}

/*definition for show adminbar always*/

/**
 * Show admin bar in Fullscreen mode.
 */

 @media (min-width: 600px) {
	body.is-fullscreen-mode .block-editor__container {
		top: 66px;
	}
}

@media (min-width: 782px) {
	body.js.is-fullscreen-mode #wpadminbar {
		display: block;
	}

	body.is-fullscreen-mode .block-editor__container {
		min-height: calc(100vh - 66px);
	}

	body.is-fullscreen-mode .edit-post-layout .editor-post-publish-panel {
		top: 66px;
	}
}

@media (min-width: 783px) {
	.is-fullscreen-mode .interface-interface-skeleton {
		top: 66px;
	}
}

.page #main .entry-header {
	display: none!important;
}
.page.singular .entry-title {
	display: none;
}
.singular .entry-header {
	border: 0;
	padding: 0;
	margin: 0;
}


/**
 * Styles for create new site page.
 * nuevo-sitio.php
 * styles section choose theme
 */
.section-title-choose-theme {
	margin-bottom:20px;
}
.label-choose-theme {
	font-size: 14px;
	line-height: 1.6;
	color: #1d2327;
	font-weight:600;
}
#images_theme {
	display: flex;
	/*flex-direction: column;*/

	flex-direction: row;
	flex-wrap: wrap;
}
.item-image {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 20px;

	flex-direction: column;
	margin-right: 30px;
}
.item-image-wrap {
	position: relative;
	cursor: pointer;
	/*margin-right: 30px;*/

	margin-right: 0;

	height: 170px;
	width: 220px;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #FFF;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
  	box-sizing: border-box;
}
.item-image-wrap::-webkit-scrollbar {
	display: none;
}
.item-image-wrap.active {
	border: 5px solid #2AC837;
}
.item-image-wrap > img {
	/*border: 10px solid rgb(230,230,230);*/
	box-sizing: border-box;
	border-bottom: 0;

	/*height: 325px;
	width: auto;*/

	width: 220px;
}
.item-content-wrap {
	display: flex;
	flex-direction: column;
}
.item-content-wrap h4 {
	margin-top: 10px;
	margin-bottom: 30px;
	font-weight: normal;
	cursor: pointer;
}
.item-content-wrap p {
	margin-top: 0;
}
/*.item-image .tick {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	background-color: #1d2327;
	color: white;
	border-radius: 90px;
	font-size: 36px;
	line-height: 40px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-indent: 4px;
}*/


/**
 * Styles My sites page.
 * mi-sitio.php
 * styles section grid sites
 */
li.mi-sitio {
	/*margin: 0 1% 30px;
	padding: 8px 1%;*/
	background-color: #FFF;

	display: flex;
	width: 100%;
	margin: 0 0 20px;
	box-sizing: border-box;
}
li.mi-sitio .item-mi-sitio-image {
	max-width: 220px;
	margin-right: 40px;
	max-height: 270px;
	overflow: hidden;
}
li.mi-sitio .item-mi-sitio-content {
	display: flex;
	width: calc(100% - 260px);
}
li.mi-sitio .item-mi-sitio-content .my-sites-actions {
	display: flex;
	flex-direction: column;
}
li.mi-sitio .item-mi-sitio-content .item-mi-sitio-title {
	margin-right: 50px;
	flex: 1;
}
li.mi-sitio .item-mi-sitio-content .item-pages {
	flex: 1;
}
li.mi-sitio .item-mi-sitio-content .my-sites-actions > a {
	margin-bottom: 10px;
}
/*.my-sites.striped {
	max-width: 95%;
}*/
.my-sites.striped li:after {
	background: transparent!important;
}

@media (max-width: 575px) {
	/*.my-sites.striped {
		max-width: auto;
	}*/
	li.mi-sitio {
		flex-direction: column;
	}
	li.mi-sitio .item-mi-sitio-image {
		margin: auto auto 10px;
	}
	li.mi-sitio .item-mi-sitio-content {
		flex-direction: column;
	}
	li.mi-sitio .item-mi-sitio-content .item-mi-sitio-title {
		margin-right: 0;
	}
}


/**
 * Styles New Site Page.
 * nuevo-sitio.php
 * styles section wp-die()
 */
body.toplevel_page_nuevo-sitio .wp-die-message {
	background-color: #FFF;
	padding: 30px;
	border-left: 5px solid red;
	font-size: 16px;
	line-height: 26px;
	width: calc(100% - 160px);
	margin-left: 30px;
	margin-top: 30px;
}

body.toplevel_page_mis-sitios a.page-title-action.no-border {
	border: 0;
	background: none;
	text-decoration: underline;
	padding-left: 25px;
}



/**
 * Styles Import Site Page.
 */
 .import-gsite-wrap .form-field #gsite_url,
 .import-gsite-wrap .form-field #site-title{
	max-width: 40em;
 }
