/*layout*/
#page {
	max-width: 1200px;
	box-sizing: border-box;
}
#primary.site-content {
	width: 75%;
	padding-right: 40px;
	box-sizing: border-box;
}
#secondary.widget-area {
	width: 25%;
}
@media screen and (max-width: 1240px) {
	#page {
		padding: 0 20px;
	}
}
@media screen and (max-width: 768px) {
	#primary.site-content {
		width: 100%;
		box-sizing: border-box;
		padding-right: 0;
	}
	#secondary.widget-area {
		width: 100%;
	}
}
/*header*/
#masthead {
	display: flex;
	flex-direction: column;
}
#masthead > a {
	order: 1;
}
#masthead > a > img{
	max-height: 120px;
	width: auto;
	height: auto;
	margin: auto;
	display: block;
}
#masthead > nav {
	order: 3;
}
#masthead > hgroup {
	order: 2;
	display: block;
	text-align: center;
	margin: auto;
}

